<h1><%= question.title %></h1>
<table>
  <tr>
    <td>
      <% if logged_in? && current_user.posted_question?(question) %>
        <%= link_to "Edit Question", edit_question_path %>
        <%= link_to "Delete Question", question_path(question), method: :delete %>
      <% end %>

      <% if logged_in? && current_user.authorized_to_vote_on_question?(question) %>
        <div class='upvote'>
          <%= form_for @vote, url: question_votes_path(question) do |f| %>
            <%= f.hidden_field :value, value: 1 %>
          	<%= image_submit_tag("up-arrow.png", class: "vote") %>
          <% end %>
        </div>

         <p class="rating"><%=question.rating%> votes</p>

        <div class='downvote'>
        	<%= form_for @vote, url: question_votes_path(question) do |f| %>
        	<%= f.hidden_field :value, value: -1 %>
        	<%= image_submit_tag("down-arrow.png", class: "vote") %>
        	<% end %>
        </div>
      <% else %>

    <div class="vote-buttons">
        <%= link_to image_tag("up-arrow.png"), class: "vote" %>
        <div class="rating"><%=question.rating%> votes</div>
        <%= link_to image_tag("down-arrow.png"), class: "vote" %>
      <% end %>
     </div>
    </td>
    <td>
      <p class="question-content"><%= question.content %></p>
    </td>
  </tr>
</table>

<div class="submitter">
  <%= image_tag question.submitter.avatar_url, class: "icon" %>
  <%= link_to question.submitter.username, profile_path(question.submitter) %><br>
  asked <%= question.timestamp %> ago
</div>