<h1 class="q-header title">Questions</h1>

<nav class="question-links">
	<%= link_to "Recent", recent_path, class: "sub-button" %>
	<%= link_to "Popular", votes_path, class: "sub-button" %>
	<%= link_to "Trending", trending_path, class: "sub-button" %>
</nav>

<hr>

<% @questions.each do |question| %>
<table>
	<tr>
		<td class="q-stats">
      <%= question.answers.count %><br>
      answers
		</td>
    <td class="q-stats">
      <%= question.rating %><br>
      votes
    </td>
		<td class="q-info">
			<p class="q-title"><%= link_to question.title, question_path(question) %></p>
			<p><%= question.content %></p>
			<sub>asked <%= question.timestamp %> ago <%= link_to "#{question.submitter.username}", profile_path(question.submitter) %></sub>
		</td>
	</tr>
</table>
<hr>
<% end %>
