<h1><%= @question.title %></h1>
<p><%= @question.content %></p>
<%= link_to "Edit Question", edit_question_path %>
<%= link_to "Delete Question", question_path(@question), method: :delete %>

<div class='question-upvote'>
<%= form_for @vote do |f| %>
  <%= f.hidden_field :voteable_id, value: voteable_id %>
  <%= f.hidden_field :voteable_type, value: voteable_type %>
  <%= f.hidden_field :value, value: 1 %>
  <%= f.submit %>
<% end %>
</div>

