<main>
  <%= render @question %>

  <h3 class="subtitle">Comments</h3>
  <%= render @comments %>

  <% if logged_in? %>
    <%= render partial:"comments/new", object: @comment %>
  <% end %>

  <div class="answers">
    <h3 class="subtitle">Answers</h3>
    <%= render @answers %>
  </div>

  <% if logged_in? %>
    <%= render partial:"answers/new", object: @answer %>
  <% end %>
</main>
