<h1><%= @question.title %></h1>
<p><%= @question.content %></p>
<%= link_to "Edit Question", edit_question_path %>
<%= link_to "Delete Question", question_path(@question), method: :delete %>

<div class='question-upvote'>
<%= form_for @vote, url: question_votes_path(@question) do |f| %>
  <%= f.hidden_field :value, value: 1 %>
  <%= f.submit  value: 'UpVote' %>
<% end %>
</div>

