<li><%=comment.commentator.username%>: <%=comment.content%></li>

<% if current_user.posted_comment?(comment) %>
		<%=form_for comment, url: question_comment_path(@question, comment) do |f| %>
		<%= hidden_field_tag("_method", "delete") %>
		<%= f.submit "Delete comment" %>
		<% end %>
<% end %>	

