<ul class="question-comments-list">
  <li>
    <%= link_to comment.commentator.username, profile_path(comment.commentator) %>: <%=comment.content%>
    <% if logged_in? && current_user.posted_comment?(comment) %>
      <%= form_for comment, url: question_comment_path(@question, comment) do |f| %>
        <%= hidden_field_tag("_method", "delete") %>
        <%= f.submit "Delete comment" %>
      <% end %>
    <% end %>
  </li>
</ul>

