 <div class="edit_profile">
  <h1>Edit Profile</h1>
  <%= form_for(@user, url: user_path) do |f| %>
    <p> Username:</br> <%= f.text_field :username%> </p>
    <p> About Me:</br> <%= f.text_area :bio %> </p>
    <p> Avatar URL: </br> <%= f.text_field :avatar_url %> </p>
    <%= f.submit :Update%>
  <% end %>
</div>
