<div class="container">
  <div id="user-profile">
    <div id="row">
      <div class="avatar">
        <img src="<%= @user.avatar_url %>" />
      </div>

      <div class="user-bio">
        <h1><%= @user.username %>'s Bio</h1>
        <p><%= @user.bio %></p>
        <p><%= link_to "Edit Profile", edit_user_path if logged_in? && owns_profile?(@user)%></p>
      </div>

      <div class="user-stats">
        <h1><%= @user.username %>'s Stats </h1>
        <ul>
          <li> Member since <%= @user.timestamp %> ago</li>
          <li><span class="number"><%= @user.questions.count %></span> Questions Asked</li>
          <li><span class="number"><%= @user.answers.count %></span> Answers submitted</li>
          <li><span class="number"><%= @user.comments.count %></span> Comments Posted</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="user-activity">
    <div class="user-questions">
      <h2><%= @user.username %>'s Questions</h2>
        <ul>
          <% @user.questions.each do |question| %>
          <li><%= link_to question.title, question_path %></li>
          <%end%>
        </ul>
    </div>

    <div class="user-answers">
      <h2><%= @user.username %>'s Answers</h2>
      <ul>
        <% @user.answers.each do |answer| %>
        <li><%= link_to answer.question.title, question_path %></li>
        <ul><li><%= answer.content %></li></ul>
        <%end%>
      </ul>
    </div>
</div>



</div>
