<div class="container">
  <div id="user-profile">
    <div class="avatar">
      <img src="<%= @user.avatar_url %>" />
    </div>

    <div class="user-bio">
      <h1><%= @user.username %>'s Profile</h1>
      <p><%= @user.bio %></p>
      <p><%= link_to "Edit Profile", edit_user_path if @user.id == current_user.id%></p>
      <hr>


    </div>
  </div>

  <div class="user-activity">
    <div class="user-questions">
      <h2><%= @user.username %>'s Questions</h2>
        <ul>
          <% @user.questions.each do |question| %>
          <li><%= link_to question.title, question_path %></li>
          <%end%>
        </ul>
    </div>

    <div class="user-answers">
      <h2><%= @user.username %>'s Answers</h2>
      <ul>
        <% @user.answers.each do |answer| %>
        <li><%= link_to answer.question.title, question_path %></li>
        <ul><li><%= answer.content %></li></ul>
        <%end%>
      </ul>
    </div>
</div>



</div>
