<table>
  <tr>
    <td>
      <% if logged_in? && current_user.authorized_to_vote_on_answer?(answer)%>
      <div class="upvote">
        <%=form_for @vote, url: answer_votes_path(answer) do |f| %>
        <%= f.hidden_field :value, value: 1 %>
        <%= image_submit_tag("up-arrow.png", class: "answer-vote") %>
        <%end%>
      </div>
      <div class="center"><%= answer.rating %></div>
      <div class='downvote'>
        <%=form_for @vote, url: answer_votes_path(answer) do |f| %>
          <%= f.hidden_field :value, value: -1 %>
          <%= image_submit_tag("down-arrow.png", class: "answer-vote") %>
        <%end%>
      </div>
      <% else %>
      <div class="answer-vote-buttons">
        <%= link_to image_tag("up-arrow.png"), class: "answer-vote" %>
        <div class="center"><%= answer.rating %></div>
        <%= link_to image_tag("down-arrow.png"), class: "answer-vote" %>
        <% end %>
      </div>
    </td>
    <td>
      <% if answer.best_answer %>
        <p>Chosen as best answer!</p>
      <% end %>

      <%= link_to answer.responder.username, profile_path(answer.responder) %>: <%=answer.content %>
    </td>
  </tr>
</table>

<% if logged_in? && current_user.posted_question?(@question) && !@question.has_best_answer?%>
  <div class="choose-best-answer">
    <%= form_for answer, url: question_answer_path(@question, answer) do |f| %>
      <%= hidden_field_tag("_method", "put") %>
      <%= f.hidden_field :best_answer, value: true %>
      <%= f.submit "Choose as best answer" %>
    <% end %>
  </div>
<% end %>

<% if logged_in? && current_user.posted_answer?(answer) %>
  <div class="answer-edit">
    <%= link_to "Edit answer", edit_question_answer_path(@question, answer) %>
  </div>
  <div class="answer-delete">
    <%=form_for answer, url: question_answer_path(@question, answer) do |f| %>
      <%= hidden_field_tag("_method", "delete") %>
      <%= f.submit 'Delete answer' %>
    <%end%>
  </div>
<%end%>

<ul class="answer-comments-list">
  <%= render partial:"comments/answer_comment", collection:answer.comments, as: :comment, locals: {answer: answer} %>
  <% if logged_in? %>
    <%= render partial:"comments/answer_new", object: @comment, locals: {answer: answer} %>
  <% end %>
</ul>
<hr>